﻿@model MvcApplication3.Models.venta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>venta</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigo)
            @Html.ValidationMessageFor(model => model.codigo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.vendedor_nombre, "vendedor")
        </div>
        <div class="editor-field">
            @Html.DropDownList("vendedor_nombre", String.Empty)
            @Html.ValidationMessageFor(model => model.vendedor_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pedido_fecha, "pedido")
        </div>
        <div class="editor-field">
            @Html.DropDownList("pedido_fecha", String.Empty)
            @Html.ValidationMessageFor(model => model.pedido_fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pedido_tienda_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pedido_tienda_nombre)
            @Html.ValidationMessageFor(model => model.pedido_tienda_nombre)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
