﻿@model MvcApplication3.Models.descripcion_pedido

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>descripcion_pedido</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo_desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo_desc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cantidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.producto.categoria_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.producto.categoria_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pedido.tienda_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pedido.tienda_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pedido_tienda_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pedido_tienda_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.distribuidora.ciudad_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.distribuidora.ciudad_nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
