﻿@model MvcApplication3.Models.descripcion_pedido

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>descripcion_pedido</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo_desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo_desc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cantidad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cantidad)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.producto.categoria_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.producto.categoria_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pedido.tienda_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pedido.tienda_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.pedido_tienda_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pedido_tienda_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.distribuidora.ciudad_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.distribuidora.ciudad_nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
