﻿@model MvcApplication3.Models.descripcion_pedido

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>descripcion_pedido</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.codigo_desc)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.codigo_desc)
            @Html.ValidationMessageFor(model => model.codigo_desc)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.cantidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.cantidad)
            @Html.ValidationMessageFor(model => model.cantidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.producto_nombre, "producto")
        </div>
        <div class="editor-field">
            @Html.DropDownList("producto_nombre", String.Empty)
            @Html.ValidationMessageFor(model => model.producto_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pedido_fecha, "pedido")
        </div>
        <div class="editor-field">
            @Html.DropDownList("pedido_fecha", String.Empty)
            @Html.ValidationMessageFor(model => model.pedido_fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pedido_tienda_nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pedido_tienda_nombre)
            @Html.ValidationMessageFor(model => model.pedido_tienda_nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.distribuidora_nombre, "distribuidora")
        </div>
        <div class="editor-field">
            @Html.DropDownList("distribuidora_nombre", String.Empty)
            @Html.ValidationMessageFor(model => model.distribuidora_nombre)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
