﻿@model IEnumerable<MvcApplication3.Models.descripcion_pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido.tienda_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pedido.fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.distribuidora_nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedido_tienda_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pedido_fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.distribuidora_nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
