﻿@model MvcApplication3.Models.distribuidora

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>distribuidora</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.codigo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.codigo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ciudad.pais_nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ciudad.pais_nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.tipodistribuidora.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipodistribuidora.nombre)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
