﻿@model IEnumerable<MvcApplication3.Models.distribuidora>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ciudad.pais_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipodistribuidora.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ciudad.pais_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipodistribuidora.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.nombre  }) |
            @Html.ActionLink("Details", "Details", new {  id=item.nombre  }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.nombre  })
        </td>
    </tr>
}

</table>
